# Ignore everything at the root level
/*

# Un-ignore the code folder and this .gitignore file
!/code/
!.gitignore

# Ignore specific temp files anywhere in the repo
__pycache__/
*.Rhistory
*.RData
*.asv
*.log